.link
  color var(--color-accent)

  &:visited
    color var(--color-accent-dark)

  &:hover
    color var(--color-accent-light)

.router-link-exact-active
  color var(--color-accent)
  text-decoration none
  font-weight bold

  &:visited
    color var(--color-accent)

  &:hover
    color var(--color-accent)