[data-theme="dark"]
  --color-primary #e91e63
  --color-primary-dark #c2185b
  --color-primary-light #f48fb1
  --color-accent #80deea
  --color-accent-dark #4dd0e1
  --color-accent-light #b2ebf2
  --color-main-text #ffffff
  --color-window-background #212121